@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
button
{
    border: none;
    border-radius: 0.2rem;
    min-width: 80px;
    min-height: 30px;
    word-wrap: break-word;
    margin: 2%;
    font-weight: 600;
    padding: 0.9%;
    background-color: #9da5d1b6;
}
button:hover
{
    background-color: rgba(191, 230, 255, 0.555);
}
input
{
    border: solid 0.1px rgba(0, 0, 0, 0.459);
    border-radius: 0.4rem;
    margin: 2%;
    min-height: 20px;
}
hr
{
    border: solid 2px;
    border-color: rgba(255, 255, 255, 0.37);
}
.main-body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.43459390592174374) 0%, rgba(157,165,209,0.6125356125356125) 35%, rgba(89,185,229,0.4415954415954416) 64%, rgba(0, 213, 255, 0.527) 100%);
    width: 100%;
    font-family: 'Rubik', sans-serif;
}
.section-one
{
    padding-top: 200px;
    padding-bottom: 100px;
    box-sizing:border-box;
    width: 90%;
    min-height: 100vh;
    margin: auto;
    
}
.section-one-mobile
{
    padding-top: 200px;
    padding-bottom: 100px;
    box-sizing:border-box;
    width: 90%;
    min-height: 1000px;
    margin: auto;
    
}
.to-do-list-body
{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.493);
    width: 70%;
    border-radius: 10px;
}

.add-to-do-cont
{
    width: 95%;
    min-height: 150px;
    margin: auto;
    padding: 1%;
    text-align: center;
    
}

.cont-inputs
{
    width: 98%;
    min-height: 30px;
    margin: auto;
}

#my-input
{
    width: 90%;
    height: 90%;
    margin: auto;
}

.list-to-do-cont
{
    margin-top: 20px;
    width: 100%;
}

.to-do-itself
{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    background-color: #59b9e569;
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 2px;
}

.to-do-itself p
{
    font-weight: 600;
}

.to-do-itself-options
{
    margin: auto;
    width: 100%;
    min-height: 50px;
}
.edit-div
{
    box-sizing:border-box;
    margin: auto;
    margin-top: 2px;
    width: 90%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 1rem;
}
#my-input-edit
{
    margin: auto;
    width: 90%;
    height: 70px;
    margin-bottom: 5px;
}
#my-button-edit-acept
{
    margin: auto;
    width: 30%;
    height: 20px;
}
